body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar {
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#prevMonth,
#nextMonth {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #666;
    transition: color 0.3s ease-in-out;
}

#prevMonth:hover,
#nextMonth:hover {
    color: #ff6600;
}

#monthYear {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: capitalize;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.weekday {
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    color: #333;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #333;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.day.sunday {
    color: #e74c3c;
}

.day.today {
    background-color: #ff6600;
    color: #fff;
}

.day.event {
    background-color: #3498db;
    color: #fff;
}

.day.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.event-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

select, input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #e55d00;
}

.text{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

.gamb{
    display: none;
}